.main{
    color: red;
    text-transform: uppercase;
}

.text-weight{
    font-weight: bold;
}

.form-area {
    margin-top: 50px;
    text-align: center;
}

.table-area {
    position:absolute;
    left: 30%;
}

h4{
    text-align: center;
}