<p>form works!</p>

<div class="form-area">
    <form>

        <div class="form-group">
            <label>First Name</label>
            <input type="text" placeholder="Full name" class="form-control">
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" placeholder="Email" class="form-control">
        </div>

        <div class="form-group">
            <label>Address</label>
            <textarea cols="30" rows="10" placeholder="Address" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>