<div class="form-area">
    <h1>Post Form</h1>
    <br><br>
    <input type="text" [(ngModel)] = "postTitle" placeholder="Post Title"/>
    <br><br>
    <textarea cols="30" rows="10" [(ngModel)] = "postDetails" placeholder="Post Details"></textarea>
    <br><br>
    <input type="text" [(ngModel)] = "imgURL" placeholder="Post image Url"/>
    <br><br>
    <input type="text" [(ngModel)] = "postURL" placeholder="Post Url"/>
    <br><br>
    <input type="checkbox" [(ngModel)]="addBackground"/>Add Background
</div>

<div class="preview-area">
    <img [src]="imgURL" alt="img"/>
    <h1><span [class.add-background] = "addBackground">{{postTitle}}</span></h1>
    <h3>{{postDetails}}</h3>
    <a [href]="postURL" target="_blank" [style.display] = "postURL ? 'block' : 'none' ">More Details</a>
</div>
